<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head">
<body class="bg-light">
<main class="container">
    <header th:replace="/fragments/student-header :: student-header"></header>
    <section>
        <div class="row">
            <div class="col-9">
                <div class="card table-responsive mb-3">
                    <table class="table table-hover caption-top">
                        <caption class="bg-secondary bg-opacity-10 ps-4">
                            <h2>Danh sách các bài nộp</h2>
                        </caption>
                        <thead class="thead-inverse text-center">
                        <tr>
                            <th>#</th>
                            <th>Tài khoản</th>
                            <th>Trạng thái</th>
                            <th>Bài tập</th>
                            <th>Thời gian nộp</th>
                            <th>Hành động</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr th:each="submission, i: ${submissions}">
                            <td th:text="${i.count}"></td>
                            <td>
                                <a href="#" class="text-decoration-none" th:text="${submission.student.studentId}"></a>
                            </td>
                            <td th:switch="${submission.verdict}">
                                <div th:case="0"
                                     class="d-inline-flex rounded-1 border bg-secondary border-secondary text-light p-1">Pending
                                </div>
                                <div th:case="1"
                                     class="d-inline-flex rounded-1 border bg-success border-success text-light p-1">Accepted
                                </div>
                                <div th:case="2"
                                     class="d-inline-flex rounded-1 border bg-danger border-danger text-light p-1">Wrong Answer
                                </div>
                                <div th:case="3"
                                     class="d-inline-flex rounded-1 border bg-danger border-danger text-light p-1">Time Limit Exceeded
                                </div>
                                <div th:case="4"
                                     class="d-inline-flex rounded-1 border bg-warning border-warning text-light p-1">Compile Error
                                </div>
                            </td>
                            <td>
                                <a th:href="@{/student/problem/{problemId}(problemId=${submission.problem.problemId})}" th:text="${submission.problem.problemId}" class="text-decoration-none"></a>
                            </td>
                            <td th:text="${submission.submissionTime}">
                            </td>
                            <td>
                                <a th:if="${submission.student.studentId} eq ${session.user.username}" th:href="@{/student/contest/{contestId}/submission/{submissionId}(contestId=${contestId},submissionId=${submission.submissionId})}" class="text-decoration-none">Xem code</a>
                                <a th:unless="${submission.student.studentId} eq ${session.user.username}">Xem code</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav th:replace="/fragments/pagination :: pagination"></nav>
            </div>
            <div class="col-3">
                <div th:replace="/fragments/right-tab :: right-tab"></div>
            </div>
        </div>
    </section>
    <footer th:replace="/fragments/footer :: footer"></footer>
</main>
<!-- Bootstrap JavaScript Libraries -->
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"
></script>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"
></script>
</body>
</html>