<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head">
</head>
<body class="bg-light">
<main class="container">
    <header th:replace="/fragments/teacher-header :: teacher-header"></header>
    <section>
        <div class="card bg-light">
            <div class="card-body">
                <form th:action="@{/teacher/student/add}" method="post" th:object="${student}">
                    <h2 class="card-title text-center">Thêm sinh viên</h2>
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="fw-bold">Mã sinh viên (tài khoản sinh viên)</span>
                            <span class="fw-bold text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" th:field="*{studentId}" aria-describedby="helpId" placeholder="Ví dụ: N19DCCN190,..."/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="fw-bold">Mật khẩu</span>
                            <span class="fw-bold text-danger">*</span>
                        </label>
                        <input type="password" class="form-control" th:field="*{studentPassword}" aria-describedby="helpId" placeholder=""/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="fw-bold">Họ sinh viên</span>
                            <span class="fw-bold text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" th:field="*{studentLastName}" aria-describedby="helpId" placeholder="Ví dụ: Nguyễn Văn"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="fw-bold">Tên sinh viên</span>
                            <span class="fw-bold text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" th:field="*{studentFirstName}" aria-describedby="helpId" placeholder="Ví dụ: Anh"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu sinh viên</button>
                </form>
            </div>
        </div>
    </section>
    <footer th:replace="/fragments/footer :: footer">
    </footer>
</main>
<!-- Bootstrap JavaScript Libraries -->
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"
></script>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"
></script>
</body>
</html>