version: "3.8"

services:
  oj-db:
    container_name: oj-db
    image: mysql:latest
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=
    volumes:
      - /db:/var/lib/mysql
    networks:
      - oj-network
#  oj-be:
#    depends_on:
#      - oj-db
#    image: truongnh28/oj:latest
#    container_name: oj-be
#    restart: always
#    ports:
#      - "8080:8080"
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:mysql://oj-db/NV5T_parking_lot?autoReconnect=true&failOverReadOnly=false&maxReconnects=10
#      SPRING_DATASOURCE_USERNAME: root
#      SPRING_DATASOURCE_PASSWORD: root123
#    stdin_open: true
#    tty: true
#    networks:
#      - oj-network

volumes:
  database:
networks:
  oj-network: