<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head">
</head>
<body class="bg-light">
<main class="container">
    <header th:replace="/fragments/teacher-header :: teacher-header"></header>
    <section>
        <div class="d-flex mb-3">
            <div>
                <a th:href="@{/teacher/contest/{contestId}/problem/info(contestId=${contest.contestId})}" class="btn btn-primary" role="button">Xem danh sách bài tập</a>
            </div>
        </div>
        <div class="card bg-light">
            <div class="card-body" th:object="${contest}">
                <h2 class="card-title text-center">Thông tin bài thực hành</h2>
                <div class="mb-3">
                    <label class="form-label">
                        <span class="fw-bold">Mã bài thực hành: </span>
                        <span th:text="*{contestId}"></span>
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        <span class="fw-bold">Tên bài thực hành: </span>
                        <span th:text="*{contestName}"></span>
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        <span class="fw-bold">Thời gian bắt đầu bài thực hành: </span>
                        <span th:text="*{contestStart}"></span>
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        <span class="fw-bold">Thời gian kết thúc bài thực hành: </span>
                        <span th:text="*{contestEnd}"></span>
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        <span class="fw-bold">Tác giả bài thực hành: </span>
                        <span th:text="*{getTeacher.getTeacherId()}"></span>
                    </label>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="/fragments/footer :: footer">
    </footer>
</main>
<!-- Bootstrap JavaScript Libraries -->
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"
></script>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"
></script>
</body>
</html>