<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body class="bg-light">
<header th:replace="/fragments/admin-header :: admin-header">
</header>
<main>
  <div class="container-xxl">
    <div class="py-3"></div>
    <a class="btn btn-primary mb-4" th:href="@{/admin/subject}" role="button">Về danh sách môn</a>
    <div class="card mb-4">
      <div class="card-body">
        <div class="border-bottom pb-3 align-items-center">
          <form class="d-flex" role="search" th:action="@{/admin/subject/{subjectId}/class(subjectId=${subjectId})}" method="post">
            <h4 class="card-title">
              <span>Danh sách lớp của môn </span>
              <span th:text="${subjectName}" class="fw-bold"></span>
            </h4>
            <div class="ms-auto d-flex">
              <input type="text" class="form-control me-2" data-bs-toggle="tooltip" data-bs-placement="top" name="keyword" th:value="${keyword}"
                     data-bs-title="Nhập mã lớp hoặc tên lớp cần tìm" placeholder="Tìm lớp học">
              <button type="submit" class="btn btn-outline-success">Search</button>
            </div>
          </form>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Mã lớp</th>
              <th scope="col">Tên lớp</th>
              <th scope="col">Thời gian tạo</th>
              <th scope="col">Thời gian cập nhật</th>
              <th scope="col">Trạng thái</th>
              <th scope="col">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="class, i : ${classes}">
              <td th:text="${i.count}"></td>
              <td th:text="${class.subjectClassId}"></td>
              <td th:text="${class.subjectClassName}"></td>
              <td th:text="${class.createAt}"></td>
              <td th:text="${class.updateAt}"></td>
              <td th:if="${class.hide} eq 0">Hoạt động</td>
              <td th:unless="${class.hide} eq 0">Bị khóa</td>
              <td>
                <a class="btn btn-info btn-sm me-1" th:href="@{/admin/subject/{subjectId}/class/{classId}/group(subjectId=${subjectId},classId=${class.subjectClassId})}" role="button">Nhóm thực hành</a>
                <a class="btn btn-primary btn-sm me-1" th:href="@{/admin/subject/{subjectId}/class/{classId}/edit(subjectId=${subjectId},classId=${class.subjectClassId})}" role="button">Chỉnh sửa</a>
                <a th:if="${class.hide} eq 0" class="btn btn-danger btn-sm me-1" th:href="@{/admin/subject/{subjectId}/class/{classId}/lock(subjectId=${subjectId},classId=${class.subjectClassId})}" role="button">Khóa</a>
                <a th:unless="${class.hide} eq 0" class="btn btn-warning btn-sm me-1" th:href="@{/admin/subject/{subjectId}/class/{classId}/unlock(subjectId=${subjectId},classId=${class.subjectClassId})}" role="button">Mở khóa</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title pb-3 border-bottom">Thêm môn học</h4>
        <form th:action="@{/admin/subject/{subjectId}/class/add(subjectId=${subjectId})}" method="post" th:object="${classAdd}">
          <div class="row mb-4">
            <div class="col-md">
              <label class="form-label">
                <span class="fw-bold">Mã lớp học</span>
                <span class="text-danger">*</span>
              </label>
              <input type="text" class="form-control" placeholder="Mã môn học" th:field="*{subjectClassId}">
            </div>
            <div class="col-md">
              <label class="form-label">
                <span class="fw-bold">Tên lớp học</span>
                <span class="text-danger">*</span>
              </label>
              <input type="text" class="form-control" placeholder="Tên môn học" th:field="*{subjectClassName}">
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <button type="submit" class="btn btn-primary">Thêm lớp học</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="py-3"></div>
  </div>
</main>
<footer>
  <div class="text-center fs-6">
    <div>PTITHCM Online Judge</div>
    <div>Copyright &copy; 2022</div>
  </div>
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>

</html>