<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head">
</head>
<body class="bg-light">
<header th:replace="/fragments/admin-header :: admin-header"></header>
<main>
  <div class="container-xxl">
    <div class="py-3"></div>
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title border-bottom pb-3">
          Chỉnh sửa môn học
        </h4>
        <form th:action="@{/admin/subject/{id}/edit(id=${subject.subjectId})}" method="post" th:object="${subject}">
          <div class="row mb-4">
            <div class="col">
              <label class="form-label">
                <span class="fw-bold">Mã môn học</span>
                <span class="text-danger">*</span>
              </label>
              <input type="text" class="form-control" th:field="*{subjectId}" th:placeholder="*{subjectId}" disabled>
            </div>
            <div class="col">
              <label class="form-label">
                <span class="fw-bold">Tên môn học</span>
                <span class="text-danger">*</span>
              </label>
              <input type="text" class="form-control" th:field="*{subjectName}" placeholder="Tên môn học">
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary">Lưu chỉnh sửa</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="py-3"></div>
  </div>
</main>
<footer th:replace="/fragments/footer :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>
</html>