<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="teacher-header" class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a th:href="@{/teacher/problem}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img th:src="@{/images/ptit-logo.png}" width="40" height="43" alt="ptit-logo.png"/>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a th:href="@{/teacher/problem}" class="nav-link px-2 link-dark">Bài tập</a>
                </li>
                <li>
                    <a th:href="@{/teacher/contest/group}" class="nav-link px-2 link-dark">Bài thực hành</a>
                </li>
                <li>
                    <a th:href="@{/teacher/subject}" class="nav-link px-2 link-dark">Môn học</a>
                </li>
            </ul>
            <a href="#" class="me-2 text-decoration-none" th:text="${session.user.username}"></a>
            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:src="@{/images/person.svg}" alt="mdo" width="32" height="32" class="rounded-circle border border-dark"/>
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                    <li><a class="dropdown-item" href="#">Thông tin</a></li>
                    <li><hr class="dropdown-divider"/></li>
                    <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
</body>
</html>